<% provide(:title, 'WDF*IDF Aanalysis') %>
<% @body_id = "wdf-idf" %>
  <div class="row">    
        <div class="col-lg-12">
              <h1 class="page-header">WDF*IDF-Analysis</h1>
        </div>                       
  </div>
  <div class="row">    
            <div class="col-md-6">
                  <%= form_tag do %>
                    <%= text_field_tag(:keyword, params[:keyword], :placeholder => "Enter your keyword") %>
                    <%= submit_tag("Analyze", class:'btn btn-success') %>
                  <% end %>
            </div>            
   </div>
 <br />
    <% if @view_hash %>
   <div class="row">  
        <div class="col-lg-12">
              <div class="panel panel-default">
                         <div class="panel-heading" name="top-ten-results" id="top-ten-results">
                             Top-Ten results for <%= params[:keyword]  %>
                         </div>
                     
                         <div class="panel-body">
                             <div class="table-responsive">
                                 <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                 
                                       <thead>
                                        <tr>
                                          <th>P</th>
                                          <th>URL</th>
                                          <th>URL-Host</th>
                                          <th>Words</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% @view_hash.each do |key, value| %>
                                        <tr>
                                          <td><%= value['index'] %></td>
                                          <td><%= value[:url] %></td>
                                          <td><%= value[:url_host]  %></td>
                                          <td><%= value[:count] %></td>                                      
                                        </tr>
                                        <% end %>
                                        </tbody>
                                      </table>
                                    </div>
                            </div>
                                          
                    </div>
                      
           </div>
     </div>
     
     <div class="row">  
          <div class="col-lg-12">
                <div class="panel panel-default">
                           <div class="panel-heading" name="top-ten-meta" id="top-ten-meta">
                               Meta-Tags Top-Ten for <%= params[:keyword]  %>
                           </div>
                     
                           <div class="panel-body">
                               <div class="table-responsive">
                                   <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                 
                                         <thead>
                                          <tr>
                                            <th>URL</th>
                                            <th>Title</th>
                                            <th>Description</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                          <% @view_hash.each do |key, value| %>
                                          <tr>
                                            <td><%= value[:url] %></td>
                                            <td><%= value[:title] %> (<%= value[:title_count] %>)</td>  
                                             <td><%= value[:description] %> (<%=value[:description_count] %>)</td>                            
                                          </tr>
                                          <% end %>
                                          </tbody>
                                        </table>
                                      </div>
                              </div>
                                          
                      </div>
                      
             </div>
       </div>
      <% i = 0 %> 
      <% @view_hash.each do |key, value| %>
      <% i = i + 1 %>
     <div class="row">  
          <div class="col-lg-12">
                <div class="panel panel-default">
                           <div class="panel-heading">
                               Result of <%= value[:url] %>
                           </div>
                     
                           <div class="panel-body">
                               <div class="table-responsive">
                                   <table class="table table-striped table-bordered table-hover class='datatable'" id="dataTables-example">
                                 
                                         <thead>
                                          <tr>
                                            <th>Keyword</th>
                                            <th>Amount</th>
                                            <th>WDF</th>
                                            <th>WDF*IDF</th>
                                          </tr>
                                          </thead>

                                            <% value['keywords'].each do |keyword_key, keyword| %>
                                            
                                          <tr>
                                                <td><%= keyword_key %></td>
                                                <td><%= keyword[:amount] %></td>
                                                <td><%= keyword[:wdf] %></td>
                                                <td><%= keyword[:wdf_idf] %></td> 
                                       
                                          </tr>
                                           <% end %>
                  
                                          </tbody>
                                        </table>
                                        
                                      </div>
                              </div>
                           
                             
                      </div>
                      
             </div>
       </div>
       <div class="row">  
            <div class="col-lg-12">
                  <div class="panel panel-default">
                             <div class="panel-heading">
                                 WDF*IDF-Diagram of <%= value[:url] %>
                             </div>
                     
                             <div class="panel-body">
                                <div id="graph<%=i%>" style="height: 500px;"></div>
                                
                                </div>
                           
                             
                        </div>
                      
               </div>
         </div>
       <% end %>
       
     
        
  <% end %>   